body {
  background: black;
  /* url("background.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 650px;
  height: 400px;
  margin: 25vh auto;
  border-radius: 25px;
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.3)
}

.header {
  height: 20%;
  background-color:  rgba(0, 191, 255, 1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  text-align: center;
  position: relative;
}
p {
  font-size: 25px;
  position: relative;
  bottom: 25px;
  font-family: cursive;
}

#temp,
#humidity-div {
  font-family: "Courier New";
  font-weight: bold;
  font-size: 60px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.city-icon-holder {
  position: absolute;
  left: 25%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#city-name {
  font-family: "Courier New";
  font-size: 59px;
  font-weight: bold;
  color: #fff;

}

#icon {
  width: 80%;
  height: 70%;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
}

.city-icon {
  height: 80%;
  width: 50%;
  border-bottom-left-radius: 25px;
  background-color:  rgba(0, 191, 255, 1); ;
}

.temperature {
  position: absolute;
  left: 50%;
  top: 0%;
  height: 40%;
  width: 50%;
  background-color: rgba(0, 191, 255, 1);;
}

.humidity {
  height: 40%;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 40%;
  border-bottom-right-radius: 25px;
  background-color:  rgba(0, 191, 255, 1);
}

#search-btn {
  width: 40px;
  height: 40px;
  color: #eee;
}

#search-txt {
  color: black;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  outline: none;
  padding-right: 1px;
  padding-left: 1px;
  text-align: center;
  width: 300px;
  height: 50px;

}

.search {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
